body{
    background-color: #1f2937;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* padding: 30px 90px; */
}

 .header{
    
    color: #f9faf8;
    display: flex;
}

.header p{
    font-size: 24px;
    color: #f9faf8;
}

.header ul{
    gap: 1rem;
    flex: 1;
    list-style-type: none;
    display: flex;
    justify-content: right;
    padding: 0 80px 0 0;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    border: 10px;
    padding: 5px 15px;
    color: white;
}
